.middle-container{
    position: fixed;
    left:50%;
    top:100px;
    box-sizing: border-box;
    margin-left:-400px;
    width:800px;
}
.welcome{
    text-align: right;
    font-size:15px;
    font-weight: normal;
    line-height:30px;
}
#logout{
    margin-left: 20px;
    color:#c00;
}
.main-container{
    height:600px;
    border:1px solid #ddd;
    border-radius: 5px;
}
.user-info-list{
    float: left;
    box-sizing: border-box;
    width:250px;
    height:100%;
    border-right: 1px solid #ddd;
    background: #eee;
    overflow-y: auto;
    overflow-x: hidden;
}
.user-info-list > .item{
    box-sizing: border-box;
    padding:10px 10px 0 10px;
    height:60px;
    cursor:pointer;
}
.user-info-list > .item:hover{
    background: #D7E5EA;
}
.user-info-list > .selected, .user-info-list > .selected:hover{
    background: #c3d6dd;
}
.user-info-list .user-img-container{
    float: left;
    width:40px;
    height:40px;
    background: #ddd;
    overflow: hidden;
}
.user-img-container > img{
    float: left;
}
.user-info-list .user-content{
    margin-left: 50px;
    color:#222;
}
.user-content .username{
    width:150px;
    height:20px;
    line-height:20px;
    font-size:14px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.user-content .time{
    position: absolute;
    right:0;
    top:0;
}
.user-content .text{
    height:20px;
    line-height:20px;
    font-size:13px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.dialog-list{
    margin-left: 250px;
    box-sizing: border-box;
    height:100%;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
}
.dialog-list > .item{
    display: none;
    height:100%;
}
.dialog-list .selected{
    display: block;
}
.dialog-list .dialog-cotent-list{
    box-sizing: border-box;
    height:450px;
    border-bottom: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: auto;
}
.dialog-list .send-container{
    box-sizing: border-box;
    padding:5px 10px;
    height:150px;
}
.send-container .message-input{
    box-sizing: border-box;
    display: block;
    width:100%;
    height:105px;
    border:0;
    outline: 0;
    font-size:14px;
    resize:none;
}
.send-container .submit-btn{
    float: right;
    margin-top:5px;
    padding:5px 10px;
    font-size:15px;
    line-height:1;
    background: #666;
    color:#fff;
    border-radius: 3px;
    cursor: default;
}
.send-container .submit{
    background: #00c500;
    cursor: pointer;
}